{{/* The releases on GitHub are currently tagged with v1xx tag, so we use $latestV1 in the base URLs */}}
{{ $latestV1      := .Site.Params.binariesLatest }}
{{ $binaries      := .Site.Data.download.binaries }}
{{ $platforms     := $binaries.platforms }}
<table class="table table--download td-initial align-middle mw-100">
  <thead>
    <tr>
      <th>
        Latest version
      </th>
      <th>
        Assets
      </th>
    </tr>
  </thead>
  <tbody>
  {{ $versions := slice .Site.Params.binariesLatestV2 .Site.Params.binariesLatest }}
  {{ range $latest := $versions }}
    {{ $releaseUrl    := printf "https://github.com/jaegertracing/jaeger/releases/tag/v%s" $latestV1 }}
    {{ $srcZipUrl     := printf "https://download.jaegertracing.io/v%s.zip" $latestV1 }}
    {{ $srcTarUrl     := printf "https://download.jaegertracing.io/v%s.tar.gz" $latestV1 }}
    <tr>
      <td>
        <strong>
          <a class="fs-3 text-decoration-none" href="{{ $releaseUrl }}">
            {{ $latest }}
          </a>
        </strong>
      </td>
      <td>
        <div class="d-flex flex-wrap gap-2">
          {{ range $key, $platform := $platforms }}
          {{ $name        := $platform.name }}
          {{ $icon        := $platform.icon }}
          {{ $asset       := printf "jaeger-%s-%s-amd64.tar.gz" $latest $key }}
          {{ $downloadUrl := printf "https://download.jaegertracing.io/v%s/%s" $latestV1 $asset }}
          {{ $zipUrl      := printf "https://download.jaegertracing.io/v%s.zip" $latest }}
          {{ $tarUrl      := printf "https://download.jaegertracing.io/v%s.tar.gz" $latest }}
          <a class="btn btn-lg btn-platform-{{ $key }}" href="{{ $downloadUrl }}" download>
            <i class="fa-brands {{ $icon }} me-2"></i>
            {{ $name }}
          </a>
          {{ end }}
          <a class="btn btn-lg btn-danger" href="{{ $srcZipUrl }}" download>
            <i class="fa-solid fa-file-archive me-2"></i>
            Source (.zip)
          </a>
          <a class="btn btn-lg btn-success" href="{{ $srcTarUrl }}" download>
            <i class="fa-solid fa-file-archive me-2"></i>
            Source (.tar.gz)
          </a>
        </div>
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
