// Rules for the main "article" sections of page domains (docs, download, taxonomies, etc.)
// cSpell:ignore: linux

@import "variables"

.notification .content
  font-size: 1.25rem

.article
  &.article--terms
    .content
      li a
      font-size: 1.5rem

    &.article--docs
    .container
      &.is-fluid
        position: relative
        top: 0
        padding: 0
        margin: auto

  &.is-2.is-hidden-touch
    position: sticky
    top: 0vh
    height: 100vh
    padding: 0
    width: fit-content

  &.article--docs, &.article--download, &.article--terms
    .is-size-1
      line-height: 125%

    +touch
      padding: 0 7%

    .is-8
      padding: 0 1rem

    .content
      ul, ul li
        list-style-type: square

      a
        font-weight: $link-font-weight

  &.article--docs, &.article--download
    .content
      // Remove the focus outline when clicking TOC items
      h1:focus, h2:focus, h3:focus
        outline: none

      // Scroll to the right position from anchors
      // https://tscanlin.github.io/tocbot/#fixed-headers
      h1::before, h2::before, h3::before, h4::before, h5::before, h6::before
        display: block
        content: " "
        height: 120px
        margin-top: -120px
        visibility: hidden

      // Styling for code samples inside normal text
      p, h1, h2, h3, h4 ,h5, h6, li, a
        code
          background: #f5f5f5
          color: black
          border: 1px solid #e8e8e8
          border-bottom: 1px solid #e0e0e0
          padding: 0.2em

      code
        background-color: $white-ter

    img
      display: block
      margin: 0 auto
      width: 100%

  &.article--docs, &.article--download
    margin: 3rem 0 10rem 0

// Changed 2 - *2 merged
.container
  &.is-fluid
    position: relative
    top: 0
    padding: 0

.article--download
  @extend .page--download
