@import "variables"

.tooltip
  color: darken($jaeger-beige, 20%)
  font-weight: 600
  &::before
    font-size: $tooltip-font-size !important

.feature-table-sticky-row

  & > .feature-table-header
    background: #fafafa
    border-bottom: none
    box-shadow: 0 1px 0px #e6e6e6, 0 -1px 0px #e6e6e6
    font-size: 1.5rem
    line-height: 5rem
    max-width: 100%
    padding-bottom: 0
    padding-left: .75rem
    padding-top: 0
    position: sticky
    top: 97px
    z-index: 1

  & > .feature-table-sub-header
    background: #f4f4f4
    box-shadow: 0 2px 0px #ccc
    position: sticky
    top: calc(97px + 5rem)

hr.hr
  height: 3px
  color: $white-ter

.hero
  &.hero--home, &.hero--docs
    background-image: url("/img/hero-background.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center

  &.hero--home
    .hero--subtitle a
      color: $link !important

.section
  &.section--cncf, &.section--why
    background-color: $white-ter

    +mobile
      img
        width: 70%

    +touch
      img
        width: 60%

    +desktop
      img
        width: 40%

  &.section--features
    +desktop
      .columns
        margin-top: 2rem

  &.section--ukraine
    .subtitle
      color: #ffbc24
      a
        color: #337ab7

    background-color: #222
