/* Basic rules for all pages as well as specific page domains (home, docs, etc.) */

@import "variables"

.page
  display: flex
  min-height: 100vh
  flex-direction: column

  main.main
    flex: 1

  &--404
    img.logo
      margin-bottom: 2%

    ul
      margin-top: 1rem

      li
        font-size: 1.5rem

  /* Documentation pages */
  &--docs
    /* Left-hand documentation nav */
    .nav
      position: fixed
      width: inherit
      max-width: 9rem
      line-height: 150%

      ul
        padding: 0 0 0 1rem
        margin: .25rem 0

        li a
          color: black
          font-size: 1.1rem

          &.is-active
            color: $link
            font-weight: $link-font-weight

          &:hover
            color: $jaeger-beige
            font-weight: 700

      h4.nav-link
        color: black
        font-size: 1.3rem

        & + .nav-link
          margin-top: .75rem

        a
          color: black

          +touch
            color: red

          &:hover
            color: $jaeger-beige
            font-weight: 700

        &.is-active
          a
            color: $link
            font-weight: $link-font-weight
