[build]
publish = "public"
command = "make netlify-production-build"

[build.environment]
HUGO_VERSION = "0.92.2"

[context.deploy-preview]
command = "make netlify-deploy-preview"

[context.branch-deploy]
command = "make netlify-branch-deploy"
