[build]
publish = "public"
command = "hugo"

[build.environment]
HUGO_VERSION = "0.55.2"

[context.deploy-preview]
command = "HUGO_PREVIEW=true hugo --buildDrafts --buildFuture --baseURL $DEPLOY_PRIME_URL"

[context.branch-deploy]
command = "hugo --buildDrafts --buildFuture --baseURL $DEPLOY_PRIME_URL"
