{{/* The releases on GitHub are currently tagged with v1xx tag, so we use $latestV1 in the base URLs */}}
{{ $latestV1      := .Site.Params.binariesLatest }}
{{ $binaries      := .Site.Data.download.binaries }}
{{ $platforms     := $binaries.platforms }}
<table class="table is-striped">
  <thead>
    <tr>
      <th>
        Latest version
      </th>
      <th>
        Assets
      </th>
    </tr>
  </thead>
  <tbody>
  {{ $versions := slice .Site.Params.binariesLatestV2 .Site.Params.binariesLatest }}
  {{ range $latest := $versions }}
    {{ $releaseUrl    := printf "https://github.com/jaegertracing/jaeger/releases/tag/v%s" $latestV1 }}
    {{ $srcZipUrl     := printf "https://download.jaegertracing.io/v%s.zip" $latestV1 }}
    {{ $srcTarUrl     := printf "https://download.jaegertracing.io/v%s.tar.gz" $latestV1 }}
    <tr>
      <td>
        <strong>
          <span class="is-size-3">
            <a href="{{ $releaseUrl }}">
              {{ $latest }}
            </a>
          </span>
        </strong>
      </td>
      <td>
        <p class="buttons">
          {{ range $key, $platform := $platforms }}
          {{ $name        := $platform.name }}
          {{ $icon        := $platform.icon }}
          {{ $asset       := printf "jaeger-%s-%s-amd64.tar.gz" $latest $key }}
          {{ $downloadUrl := printf "https://download.jaegertracing.io/v%s/%s" $latestV1 $asset }}
          {{ $zipUrl      := printf "https://download.jaegertracing.io/v%s.zip" $latest }}
          {{ $tarUrl      := printf "https://download.jaegertracing.io/v%s.tar.gz" $latest }}
          <a class="button is-medium is-{{ $key }}" href="{{ $downloadUrl }}" download>
            <span class="icon">
              <i class="fab {{ $icon }}"></i>
            </span>
            <span>
              {{ $name }}
            </span>
          </a>
          {{ end }}
          <a class="button is-medium is-zip" href="{{ $srcZipUrl }}" download>
            <span class="icon">
              <i class="fas fa-file-archive"></i>
            </span>
            <span>
              Source (.zip)
            </span>
          </a>
          <a class="button is-medium is-tar" href="{{ $srcTarUrl }}" download>
            <span class="icon">
              <i class="fas fa-file-archive"></i>
            </span>
            <span>
              Source (.tar.gz)
            </span>
          </a>
        </p>
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
