{{ $dockerImages := site.Data.download.docker }}
{{ $latest       := site.Params.binariesLatest }}
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>Since version</th>
    </tr>
  </thead>
  <tbody>
    {{ range $dockerImages }}
    {{ $org         := "jaegertracing" }}
    {{ $image       := .image }}
    {{ $fullImage   := printf "%s/%s" $org $image }}
    {{ $link        := printf "https://hub.docker.com/r/%s/%s" $org $image }}
    {{ $description := .description | markdownify }}
    {{ $since       := .since }}
    {{ $latestImg   := .latest | default $latest }}
    {{ $pullCmd     := printf "<code><span class=\"is-dollar\">$</span> docker pull %s:%s</code>" $fullImage $latestImg | safeHTML }}
    <tr>
      <td>
        <a href="{{ $link }}">
          {{ $image }}
        </a>
      </td>
      <td>
        {{ with $description }}
        <p>
          {{ . }}
        </p>
        {{ end }}
        <div>
          {{ $pullCmd }}
        </div>
      </td>
      <td>
        {{ $since }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
