{{ $dockerImages := site.Data.download.docker }}
{{ $latestV1       := site.Params.binariesLatest }}
{{ $latestV2       := site.Params.binariesLatestV2 }}
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Major</th>
      <th>Description</th>
      <th>Since version</th>
    </tr>
  </thead>
  <tbody>
    {{ range $dockerImages }}
    {{ $org       := "jaegertracing" }}
    {{ $image     := .image }}
    {{ $major     := .major }}
    {{ $fullImage := printf "%s/%s" $org $image }}
    {{ $link      := printf "https://hub.docker.com/r/%s/%s" $org $image }}
    {{ $since     := .since }}
    {{ $latest    := cond (eq $major "v2") $latestV2 $latestV1}}
    {{ $latestImg := .until | default $latest }}
    <tr>
      <td>
        <a href="{{ $link }}">
          {{ $image }}
        </a>
      </td>
      <td>
        {{ $major }}
      </td>
      <td>
        {{ if .until }}
          <p>Deprecated 💀💤❌. Latest available version is {{ $latestImg }}.</p>
        {{ end }}
        <p>{{ .description | markdownify }}</p>
        {{ if not .external }}
        <div>
          <code><span class="is-dollar">$</span> docker run {{ $fullImage }}:{{ $latestImg }} --help</code>
        </div>
        <div>
          <code><span class="is-dollar">$</span> podman run quay.io/{{ $fullImage }}:{{ $latestImg }} --help</code>
        </div>
        {{ end }}
      </td>
      <td>
        {{ $since }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
