.blog {
  display:none;
}
.section-news-stand {
    background-color: #f5f5f5;
}
.blog h1 {
    text-align: center;
}
.blog__container {
  width: 100%;
  overflow-x: auto;
}
.blog__slider {
    list-style: none;
    padding: 0;
    display: inline-flex;
}
.blog__post{
  background-color: #fff;
  margin: 3rem 1rem;
  -webkit-box-shadow: 9px 9px 20px 0px rgba(0,0,0, .4);
  -moz-box-shadow: 9px 9px 20px 0px rgba(0,0,0, .4);
  box-shadow: 9px 9px 20px 0px rgba(0,0,0, .4);
  padding: 14px;
  width: 300px;
  height: 475px;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  &.blog__post:not(:last-of-type) {
    margin-right: 12px;
  }
}

.blog__topImg{
  width: 300px;
  height: 150px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
.blog__content{
    margin: 0px;
    color:black;
    padding: .8rem;
 }
 .blog_preview{
    height: 200px;
    font-size: .95rem;
    font-weight: 300;
    overflow: hidden;
 }
 .blog__title{
    font-size: 1.4rem;
 }
 .blog__intro{
    line-height: 1.5;
 }
 .blog__info{
    font-weight: 300;
 }
 .blog__author{
    font-size: .9rem;
 }
 .blog__date{
    font-size: .85rem;
 }
