$navbar-brand-size: 52px;
$navbar-brand-base: 38px;
$navbar-margin-top: -($navbar-brand-size - $navbar-brand-base) / 2;

.td-navbar {
  background-color: $jaeger-blue-dark;

  .navbar-brand {
    svg {
      height: $navbar-brand-size;
      width: $navbar-brand-size;
      margin-top: $navbar-margin-top;
      margin-bottom: $navbar-margin-top;
    }
  }

  .nav-link {
    color: white;

    @include set-elt-hover-and-focus(
      $element: '&',
      $decoration: $link-decoration
    );
  }
}
