@import 'links';

@import 'banner';
@import 'dark';
@import 'download';
@import 'footer';
@import 'home';
@import 'navbar';
@import 'td/code-dark';

.td-content {
  @include set-elt-hover-and-focus(
    $element: 'a',
    $decoration: $link-decoration-opposite !important
  );
}

.td-footer {
  background-color: $jaeger-blue-dark !important;
}

// ==============================================
// Docsy changes to upstream
// ==============================================

// Support for N `blocks/feature` elements per row.
//
// Usage example: {{% blocks/section type="row features-N" %}}
// where N, a factor of 12, is the number of features per row.
// This approach extends Bootstrap's existing column classes.
// Bootstrap grid: 12 columns, so col-size = 12 / feature-count

// List of supported feature counts (must divide evenly into 12)
$feature-counts: (2, 3, 4, 6);

@each $count in $feature-counts {
  $col-size: (12 / $count);

  .features-#{$count} {
    // TODO in Docsy: define a class name that is specific to `blocks/feature`
    // and use it to select the child divs instead of `col-lg-`.
    > div[class*='col-lg-'] {
      @extend .col-lg-#{$col-size};
    }
  }
}

.td-version-menu {
  position: unset !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
