/* Docsy-delta full file override: we're not tracking changes to the Docsy file of the same name. */

@import 'variables_forward_project';

$td-enable-google-fonts: true;
$td-google-font-name: 'Pontano+Sans';
$td-google-font-family: 'Pontano+Sans:300,300i,400,400i,700,700i';

// ----------------------------------------------
// Jaeger theme-specific variables copied from
// themes/jaeger-docs/assets/sass/variables.sass
// ----------------------------------------------

/* Jaeger theme-specific colors */
$jaeger-blue: rgb(102, 207, 227);
$jaeger-green: rgb(100, 139, 26);
$jaeger-beige: rgb(223, 201, 162);
$jaeger-black: rgb(35, 31, 32);
$jaeger-teal: #1f94aa;

// Colors adjusted for better contrast
$jaeger-teal-original: $jaeger-teal;
$jaeger-blue-original: $jaeger-blue;

// Redefine theme colors for better contrast
$jaeger-blue: lighten($jaeger-blue, 10%);
$jaeger-teal: darken($jaeger-teal, 10%);

// Darker blue for navbar and footer
$jaeger-blue-dark: #1a4767;

// Theme colors
$primary: $jaeger-teal;
$secondary: $jaeger-blue;

$primary-dark: lighten($primary, 22%);

// BS overrides

// Dark-mode support - improve contrast

// TODO: see if we can increase $min-contrast-ratio from the 4.5 default without
// getting SCSS errors.
//
// $min-contrast-ratio: 4.7;

$link-color-dark: tint-color($primary-dark, $link-shade-percentage);
