{{/* Docsy override

  When called from a page at `/docs/2.11/some/path/`, then this creations a
  version menu. Each entry X.YY in the versions menu will link to
  `/docs/X.YY/some/path/`.

  This partial is customized to read Jaeger's versions and versionsV2 params.

  cSpell:ignore pagelinks
  */ -}}

<div class="td-version-menu dropdown">
  <a class="nav-link dropdown-toggle"
      id="td-version-menu-toggle"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      class="nav-link"
    >
    {{- .Params.version_menu -}}
  </a>
  <ul class="dropdown-menu" aria-labelledby="td-version-menu-toggle">
    {{ $relPermalink := .Page.RelPermalink -}}
    {{ $vers := "" -}}
    {{ $path := "" -}}
    {{ if .Site.Params.version_menu_pagelinks -}}
      {{ $matches := findRESubmatch "^/docs/([^/]+)/?(.*)$" $relPermalink -}}
      {{ if gt (len $matches) 0 -}}
        {{ $match := index $matches 0 -}}
        {{ $vers = index $match 1 -}}
        {{ $path = index $match 2 -}}
      {{ end -}}
    {{ end -}}

    {{ $dot := . -}}
    {{ $maxVersPerMajorVers := sub (.Site.Params.version_menu_max_versions | default 99999) 1 -}}
    {{ range $versions := (slice
        ((first $maxVersPerMajorVers .Site.Params.versionsV2) | append "2.dev")
        ((first $maxVersPerMajorVers .Site.Params.versions) | append "1.dev")
      ) -}}
      {{ template "navbar-version-list" (dict
            "dot" $dot
            "versions" $versions
            "path" $path
            "relPermalink" $relPermalink)
      -}}
      <li><hr class="dropdown-divider"></li>
      {{ end -}}
    <li>
      <a class="dropdown-item" href="/docs/">
        All versions
      </a>
    </li>
  </ul>
</div>

{{- define "navbar-version-list" -}}
  {{ $dot := .dot -}}
  {{ $path := .path -}}
  {{ $relPermalink := .relPermalink -}}
  {{ range $i, $version := .versions -}}
  {{ $isLatest := eq $i 0 -}}
  {{ $_href := printf "/docs/%s/%s" $version $path -}}
  {{ $href := partial "docs/lookup-page" (slice $dot $_href) -}}
  {{ $title := "" -}}
  {{ with site.GetPage $href -}}
    {{ $title = .Params.linkTitle -}}
  {{ end -}}
  <li> {{- /**/ -}}
    <a class="dropdown-item
        {{- if eq $href $relPermalink }} active{{ end -}}
        {{- if not $href }} disabled{{ end -}}
        "
      {{ with $href }} href="{{ . }}" {{- end -}}
      >
      {{- $title | default $version -}}
    </a>
    {{- /**/ -}}
  </li>
  {{ end -}}
{{ end -}}
