name: Release

on:
  push:
    branches: [ main ]
    tags: ["release-*.*.*"]

jobs:
  release:
    if: ${{ github.repository == 'jaegertracing/documentation' && startsWith(github.ref, 'refs/tags/release-') }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Attempt release
      shell: bash
      run: |
        git config user.name "jaegertracingbot"
        git config user.email "jaegertracingbot+jaeger-tracing@googlegroups.com"
        # git config credential.helper "store --file=.git/credentials"
        # echo "https://${{ secrets.JAEGERTRACINGBOT_GITHUB_TOKEN }}" > .git/credentials
        export RELEASE_TAG=${GITHUB_REF##*/}
        ./scripts/release.sh

    - name: GH CLI create PR
      run: |
        export TAG=${GITHUB_REF##*/}
        git checkout -b gen-release-${TAG} # branch is need for GH CLI
        git push origin gen-release-${TAG} # branch has to be on remote  before PR is opened
        gh pr create --base main --title "Release ${TAG}" --body "Release ${TAG}. This PR is created from CI and is part of the release process."
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
