name: Release

on:
  workflow_dispatch:
    inputs:
      version_v1:
        required: true
        type: string
        description: "Version number for v1 docs, in #.#.# format"

      version_v2:
        required: true
        type: string
        description: "Version number for v2 docs, in #.#.# format"

      dry_run:
        required: true
        type: boolean
        description: Do a dry run.

jobs:
  prepare-release:
    if: ${{ github.repository == 'jaegertracing/documentation' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
        # Use the bot's PAT instead of the default GITHUB_TOKEN
        token: ${{ secrets.JAEGERTRACINGBOT_GITHUB_TOKEN }}
        ref: main

    - uses: actions/setup-python@v6
      with:
        python-version: 3.14

    - name: Attempt release
      shell: bash
      run: |
        git config user.name "jaegertracingbot"
        git config user.email "jaegertracingbot+jaeger-tracing@googlegroups.com"
        export DRY_RUN=${{ inputs.dry_run }}
        ./scripts/release.sh ${{ inputs.version_v1 }} ${{ inputs.version_v2 }}

    - name: GH CLI create PR
      run: |
        export TAG="${{ inputs.version_v2 }}/${{ inputs.version_v1 }}"
        gh pr create --base main --title "Release ${TAG}" --body "Release ${TAG}. This PR is created from CI and is part of the release process."
      env:
        GH_TOKEN: ${{ secrets.JAEGERTRACINGBOT_GITHUB_TOKEN }}
